//- forgot credentials page

extends base.pug

block page-head 
    title Forgot 

block page-header 
    a#home(href=base_url+"/login") Log In

block page-main 
    p Consult your institution.

