//- Log in page

extends base.pug

block page-head 
    title Log in 

block page-main 
    section#user-login
        h1 Log in
        form(action=domain_url+base_url+"/login" method="POST")
            div
                label(for="userid") User Id :
                input(required="required" type="text" placeholder="Enter User Id" name="userid" pattern=rgx.userid)
                span ( Example: II10000001 )
            div
                label(for="password") Password :
                input(required="required" type="password" placeholder="Enter Password" name="password" pattern=rgx.password)
                span ( Example: 12345 )
            div
                input(type="submit" value="Log in")
            a(href=base_url+"/forgot") Forgot credentials?

